.lol-container {
  padding-top: 1460px;
	padding-left: 120px;
	padding-right: 270px;
}

.lol-container img {
  max-width: 100%;
}

.app {
/*  position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 45pt;
  font-family: montserrat;
  line-height: 100px;
	font-weight: 900;
/*	text-align: justify;*/
}
.scroll-content {
  position: absolute;
  transform-origin: top left;
  will-change: transform;
}

@media(max-width: 1023px) {

  .lol-container {
    padding: 64px 24px;
  }
}